@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.intro{
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  background-image: url("/images/backdrop.jpg");
  margin: auto;
  display: table;

}

.intro .inner{
  max-width: none;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.content{
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}
.content .large-text{
  font-family: 'Oswald', cursive;
  font-size: 500%;
  color: rgba(232,232,232,0.9);
  text-shadow: 8px rgba(232,232,232,0.90);
  z-index:3;
}
.content .small-text{
  font-family: 'Oswald',cursive;
  font-size: 300%;
  color: rgba(232,232,232,0.9);
  z-index: 3;
}
.rain{
  background-color: #080301;
  background-size: cover;
  display:table;
  padding: none;
  width: 100%;
  height: 75%;
  z-index: -1;
}
.par{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 25px;
  padding: none;
  font-family: 'Slabo 27px', serif;
  z-index: 2;
  font-size: 150%;
  color: #cdcccb;
}

.footer{
  width: 100%;
  height: 28%;
  background: -webkit-linear-gradient(left top, rgb(253,246,149),rgb(176,93,10));
  z-index: 2;
  display: table;
  background-size: cover;
}
.footer .footer-content{
  display: inline-table;
  margin-left: 10px;
  margin-top: 10px;
}
.image{
  align-content: center;
  display: table-cell;
  background-color: rgb(8,3,1);
  max-width: 180px;
  margin-top: 10px;

}
.text{
  font-size: 150%;
  margin-left: 10%;
  display: table-cell;
  padding-left: 60;
  padding-right: 0;
}
#bottom{
  max-width: 80%;
  max-height: 100%;
  margin-left: 15;
  margin-top: 6px;

}
.rain_drop{
  background-color: blue;
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  -webkit-animation: fall .63s linear infinite;
  z-index: 1;
}
@-webkit-keyframes fall{
  to {margin-top:900px;}
}
